language: go
go: '1.10'

env:
- DEP_VERSION="0.4.1"

before_install:
- curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64
  -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep

install:
- dep ensure -v

script:
  - go generate
  - bash xcross.sh
  - for f in  ekara-windows-*; do mv -v -- "$f" "$f.exe"; done;
  - echo "Generated files"
  - ls -al ekara-*

deploy:
  provider: releases
  skip_cleanup: true	
  api_key:
    secure: XeYIbWHmiU0R1u939Z9MfT6sTjWgnEwStCHlfYDloNk+SABczuEa+m1egqzX5c+I4TxcGKxVNs3USwtWfo5Y4nWtewC8e6aNXx75kEE/dOcSw80F9q2ciQ71eUR+hNEwUIGHowAHUfWHKptWEHK2Pv2p9p1QDBZ5cY0K5o51LKCvYElb5XAaXJUjBmsM36/QwuiYbJJe/k+pNeIkSaMSQ5f8Aed/Wz9ZnamB/iZTGefbjgEVdlqPdgts+7liJirtgUuw7ywzpI7W9OeQ/ZrnGDqht5BAR5+Y5ezeUpm3yDO6LhDpd/0svd3E4QD2YB66nQVtpmPiceSjRHbDqfVwsnhWb+YE1iuZ+ONi/iKyx8tBgO2P5r8JteXOmaStKkkJArY0guAloUhdc09qVKpqW/Vvgxwz5D62N+8UJHGECeaF1KmEDUwFWPbAmV5AlZn3sg1ciyQTj3H2C1nJYHWAeXtqc2Tk1BxwJXxX4/m+f7jRHPX12HMUM6Y92SB6jOPLRWeS6Nxz+vtb7VkeMSjuNr+XHmjJKTIWjAbBUKEKFmBoUfVCbrG/8NPX1i8KzORlE0yQhe/08xykF81FrX5UNU5zJav1i4NsSq/NPpRV33jBMUtcfyT/vbLUwI7ZJTKBKVQ6PiRmGl2ty/Wa2tA+mKVVKZzoqfPdBdVFfYg3gm0=
  file_glob: true
  file:
  - cli-*
  on:
    repo: ekara-platform/cli
    tags: true
